# Core
# Deep Learning
torch==2.0.1
torchvision==0.15.2
numpy==1.24.4
pandas==2.0.3
Pillow==10.4.0
opencv-python==4.13.0.92
scipy==1.10.1
matplotlib==3.7.5

# Streamlit UI
streamlit==1.40.1

# YOLO
ultralytics==8.4.149

# CFINet / MMDetection
mmcv-full==1.7.2
pycocotools==2.0.7
terminaltables==3.1.10
PyYAML==6.0.3
addict==2.4.0
yapf==0.43.0
