# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/
cfinet_env/
cuda_env/
esod_env/

# Model weights
*.pt
*.pth
*.onnx
*.engine

# Datasets
dataset/
datasets/
SODA-D/
COCO/
VisDrone/

# Training outputs
runs/
work_dirs/
weights/

# VS Code
.vscode/

# Other
.DS_Store
Thumbs.db

# Secrets
.env

Images/
output.jpg
